  <footer class="text-center text-lg-start bg-light fixed-bottom w-100">
    <div class="container d-flex justify-content-center py-4">
      <button type="button" class="button-purple btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="button-purple btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-linkedin"></i>
      </button>
      <button type="button" class="button-purple btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-github"></i>
      </button>
      <button type="button" class="button-purple btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-twitter"></i>
      </button>
    </div>

    <div class="text-center text-white p-3 bg-secondary">
      <p class="text-white text-decoration-none text-cursive fs-4">© 2022 Copyright: Thuydieutran created using Java & Angular</p>
    </div>
  </footer>

