<!--<div class="container" >
  <button type="button" class="btn btn-group-lg btn-secondary text-white" (click)="onOpenModal(destination, 'create')"><i class="fa fa-pencil fs-5 text-white"></i></button>
</div>-->
<div class="main-content">
  <div class="col-md-9 col-11 mx-auto p-3 bg-light rounded" >
    <h2 class="text-center text-primary fw-bold my-5">Discover my adventures</h2>
    <mat-accordion class="container destination-accordion" *ngFor="let destination of destinations" id="main-container" [class.selected]="destination === selectedDestination" (click)="onSelect(destination)">
      <!--<mat-accordion class="overflow-auto">-->
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" class="bg-purple my-5 p-5">
          <mat-expansion-panel-header class="d-flex flex-row">
            <mat-panel-title >
              <p class="fw-bold text-warning text-cursive">{{destination.country}}
            </mat-panel-title>
            <mat-panel-description class="fs-5 text-white">
              <p>Destination starts: <span class="p-lg-3 fw-bold fst-italic text-secondary">{{destination?.destinationStart}}</span><p>
            </mat-panel-description>
            <mat-panel-description class="fs-5 text-white">
              <p>Destination ends: <span class="p-lg-3 fw-bold fst-italic text-secondary">{{destination?.destinationEnd}}</span></p>
            </mat-panel-description>
            <a class="flex-grow-0 btn btn-secondary text-white fw-bold mx-2 align-self-center" routerLink="/destinations/journeys">
              View my journeys
            </a>

          </mat-expansion-panel-header>
          <mat-panel-description class="text-white d-flex flex-column align-items-start">
            <p class="fs-5" >Description: {{destination?.destinationName}}</p>
            <div class="d-flex flex-row justify-content-start">
              <button type="button" class="btn btn-group-lg btn-secondary text-white me-2 px-3 py-2" (click)="onOpenModal(destination, 'edit')"><i class="fa fa-pencil fs-5 text-white"></i></button>
              <button type="button" class="btn btn-group-lg btn-warning text-white px-3 py-2" (click)="onOpenModal(destination, 'delete')"><i class="fa fa-trash fs-5 text-white"></i></button>

            </div>


            <!-- Sharing the infos of component: Journey cards into the parent component Destinations -->
         <!--   <app-journeys [journeyList]="journeys"></app-journeys>-->
            <!-- Journey cards end here-->

          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>

<app-footer></app-footer>

<!-- Edit Modal -->
<div class="modal fade" id="editDestinationModal" tabindex="-1" aria-labelledby="editDestinationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDestinationModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
