<div class="header-area overlay">
  <app-navbar></app-navbar>
  <div class="banner">
    <div class="container">
      <h1>Thuy's blog</h1>
      <p class="my-5 fst-italic text-warning">I am a travel lover who is very passionate about discovering the world's beauty, learning various cultures and tasting new foods.</p>
      <a routerLink="/about" class="btn button button-primary">Wanna know more about me?</a>
    </div>
  </div>
</div>

<!--<div class="row content my-5" id="content">
  <div class="col-md-4 text-center">
    <a class="btn btn-group-lg p-4 bg-secondary text-white w-75 h-100 mx-auto d-flex justify-content-center align-items-center fs-4 fw-bold" routerLink="/destinations">Discover my destinations</a>
  </div>
  <div class="col-md-4 text-center my-3 my-md-0">
    <a class="btn btn-group-lg p-4 bg-secondary text-white w-75 h-100 mx-auto d-flex justify-content-center align-items-center fs-4 fw-bold" routerLink="">See my photos</a>
  </div>
  <div class="col-md-4 text-center">
    <a class="btn btn-group-lg p-4 bg-secondary text-white w-75 h-100 mx-auto d-flex justify-content-center align-items-center fs-4 fw-bold" routerLink="">Join me</a>
  </div>
</div>-->

<router-outlet></router-outlet>


