<header class="header-area overlay">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand text-warning">ThuyDieu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Portfolio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Destinations</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">See my destinations</a></li>
              <li><a class="dropdown-item" href="#">Create new destination</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Galerie</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" href="#">Photos</a>
              <li><a class="dropdown-item" href="#">Videos</a>
            </ul>
          </li>
          <li><a href="#" class="nav-item nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="banner">
    <div class="container">
      <h1>Thuy's blog</h1>
      <p class="my-5 fst-italic text-warning">I am a travel lover who is very passionate about discovering the world's beauty, learning various cultures and tasting new foods.</p>
      <a routerLink="/about" class="btn button button-primary">Wanna know more about me?</a>
    </div>
  </div>
</header>

<!--<div class="row content my-5" id="content">
  <div class="col-md-4 text-center">
    <a class="btn btn-group-lg p-4 bg-secondary text-white w-75 h-100 mx-auto d-flex justify-content-center align-items-center fs-4 fw-bold" routerLink="/destinations">Discover my destinations</a>
  </div>
  <div class="col-md-4 text-center my-3 my-md-0">
    <a class="btn btn-group-lg p-4 bg-secondary text-white w-75 h-100 mx-auto d-flex justify-content-center align-items-center fs-4 fw-bold" routerLink="">See my photos</a>
  </div>
  <div class="col-md-4 text-center">
    <a class="btn btn-group-lg p-4 bg-secondary text-white w-75 h-100 mx-auto d-flex justify-content-center align-items-center fs-4 fw-bold" routerLink="">Join me</a>
  </div>
</div>-->

<router-outlet></router-outlet>


